$color_white             : #fff;
$color_white_trans       : rgba(0, 0, 0, 0.8);
$color_black             : #000;
$color_gray_default      : #90a4ae;

/*TEXT ALL*/
$color_txt_dark          :#5A5A5A;

$color_beach             : #00A2D1;
$color_beach_b2          : #0BC1BB;
$color_gray_soft         : #eceff1;
$color_gray_cc           : #ccc;
$color_gray_e0           : #e0e0e0;
$color_gray_91           : #919191;
$color_gray_95           : #9E9E95;
$color_gray_9e           : #9e9e9e;

$color_yellow_medium     : #ffaa00;
$color_green_default_05  : #054E5D;
$color_green_default     : #045667;
$color_green_default_81  : #16798d;
$color_green_light       : rgba(68, 169, 183, 0.65);

$color_green_success_45d : #45DD68;
$color_green_success_34b : #34BE53;

$color_green_active_3f   : #3FFF33;

$color_red_f5            : #FF5F5F;
$color_red_ea            : #EA2A2A;
/*HOVER COLOR DEFAULT*/
// $color_hv_green_default : mix($color_green_default, $color_black, 80%);
// $color_hv_gray_default  : mix($color_gray_default, $color_black, 80%);
// $color_hv_txt_dark      : mix($color_txt_dark, $color_black, 2%);
